.container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: hwb(274 42% 14% / 0.276);
    border-bottom: 1px solid hwb(274 42% 14% / 0.818);
    border-top: 1px solid hwb(274 42% 14% / 0.818);
}
.content{
    margin-right: 50px;
    margin-top: 20px;   
    margin-bottom: 50px;
    gap: 10px;
}

.logo {
    margin-left: 50px;
    margin-top: 35px;   
    margin-bottom: 50px;
    font-size: 32px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}

.cart{
font-size: 18px;
font-family: 'Manrope', sans-serif;
font-weight: bold;
margin-bottom: 10px;
}

.favorites{
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}